name: Upload to S3

on:
  push:
    branches:
      - main  # or any branch you want

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  # or your region

      - name: Create folder and file
        run: |
          mkdir -p my-folder
          echo "Hello kalyug" > my-folder/hello.txt


      - name: Upload files to S3
        run: |
          aws s3 cp ./my-folder s3://amitgithubdemo/ --recursive

